* {
  margin:0;
  padding:0;
}

body {
  font-size: 12px;
 font-family: "Helvetica", Arial, sans-serif;
  background: url(../images/bg.png) repeat;
}

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2em; }

/**********************/
/*    User Content    */
/**********************/
#instagram ul {
  list-style: none;
}

#no_instagram {
  float: left;
  padding: 20px 0 0 0;
}

#twitter table img {
  margin: 0 0.5em 0 0;
  width: 4em;
}

#twitter td {
  padding: 0 0 0.5em 0;
  vertical-align: top;
}

#twitterUser {
  font-weight: bold;
}

.hidden {
  display: none;
}

.visible {
  display: inline;
}

/**********************/
/*        Misc        */
/**********************/
.clear {
  clear: both;
}
