body {
  text-align: center;
  font-size: 50px;
}

table {
  text-align: left;
  font-size: 50px;
}

h1 { font-size: 1.8em; }
h4 { font-size: 1.4em; }

/**********************/
/*    Page Layout     */
/**********************/
#wrap {
  margin: auto;
}

#wrap_content {
  padding: 4px 8px;
}

#header img {
  display: block;
}

#logo {
  margin: 0 0 5px 0;
  width: 97%;
}

#sponsor {
  list-style: none;
}

#sponsor img {
  width: 60%;
  margin: auto;
}


/**********************/
/*    User Content    */
/**********************/
#event {
  margin: 5px 0 10px 0;
}

#eventTitle {
  display: block;
}

#speaker {
  display: block;
  font-size: 0.8em;
}

#startsIn {
  font-size: 0.8em;
}

#countdown {
  font-size: 0.8em;
}

#instagram img {
  margin: 5px 0 0 0;
  width: 95%;
}

#foursquare .normal {
  width: 30%;
}

#foursquare .small {
  width: 22%;
}

#foursquare .tiny {
  width: 18%;
}
