*{
  margin:0;
  padding:0;
}

body {
  overflow: hidden;
  background:url(../images/bg.png) repeat;
}

.wrapper{
  width:800px;
  margin:0 auto;
}

#logo{
  width:350px;
  height:87px;
  float:left;
  margin:7px 0 0 7px;
}

#sponsor{
  float:right;
  width:433px;
  height:87px;
  margin:7px 5px 0 0;
}

#sponsor ul{
  list-style-type: none;
}

#sponsor ul li {
  position: absolute;
  right: 7px;
  top: 7px;
}

#sponsor ul li img {  height: 75px;
  margin: 5px 0 0 7px;

  height: 15%;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible
}

#event {
  width: 786px;
  height: 75px;
  margin: 0px 7px 0 7px;

}


#countdown {
  float: left;
  width: 275px;
  height: 75px;;
  font-size: 49px;
}

#eventDescription{
  width: 63%;
  text-align: right;
  float:right;
  margin: 0 0 0 0;
  height: 55px;
  font-size: 49px;
}

#eventSpeaker {
  width: 63%;
  text-align: right;
  float: right;
  height: 20px;
  font-size: 14px;
  margin: 0 0 0 0;
}

#instagram {
  float: left;
  width: 50%;
  margin: 5px 0 0 7px;
}

#instagram ul {
  list-style: none;
}

#instagram ul li{
  position: absolute;
  bottom: 12px;
  margin: 5px 0 5px 0;
}

#instagram img {
  width: 350px;
}

#instagramText {

}

#twitter {
  float: right;
  width: 48%;
  height:390px;
  margin: 7px 7px 0 0;
}

#twitter #hashtagTweets table td {
  vertical-align: top;
}
