body {
  overflow: hidden;
}

h4 { font-size: 1.1em; }
/**********************/
/*    Page Layout     */
/**********************/
#wrap {
  margin:3px auto;
  width: 800px;
  background:#fff;
  -moz-box-shadow: 0 0 10px 1px #bbb;
  -webkit-box-shadow: 0 0 10px 1px #bbb;
  box-shadow: 0 0 7px .5px #bbb;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#wrap_content {
  padding: 15px 20px;
}

#header {
  float: left;
  margin: 0 0 10px 0;
  width: 100%;
}

#logo {
  float: left;
}

#sponsor {
  display: inline;
  float: right;
  list-style: none;
  vertical-align: bottom;
}

#sponsor li {
  height: 80px;
}

#sponsor img {
  max-width: 100%;
  max-height: 75px;
  height: 75px;
  margin: 13px 30px 0 7px;
}

#logo {
  max-width: 350px;
  height: 80px;
}

/**********************/
/*    User Content    */
/**********************/
#event { $('#foursquare').load('/foursquare');

  font-size: 2.2em;
  margin: 0 0 10px 0;
}

#user_content {
  float: left;
  margin: 0 0;
  width: 100%;
}

#user_content .left {
  float: left;
  width: 50%;
}

#user_content .right {
  float: left;
  width: 50%;
}

#user_content .right .content {
  padding: 0 0 0 4px;
}

#user_content .left .content {
  padding: 0 4px 0 0;
}

#instagram img {
  margin: 5px 0 0 0;
  width: 350px;
  -moz-border-radius: 10px;
  border-radius: 10px;
 }

 #no_instagram {
   margin: 10px 0 20px 0;
   padding: 50px 50px 10px 50px;
   height: 290px;
   width: 250px;
   text-align: center;
   border: 1px solid black;
   -moz-border-radius: 10px;
   border-radius: 10px;
}

#noTweets {
  padding: 70px 5px 10px 5px;
  height: 270px;
  width: 340px;
  text-align: center;
}

#no_checkins {
  padding: 40px 0;
}

#foursquare .normal {
  width: 50px;
}

#foursquare .small {
  width: 40px;
}

#foursquare .tiny {
  width: 25px;
}

td img{
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#foursquare img{
  -moz-border-radius: 3px;
  border-radius: 3px;
}

