* {
  margin:0;
  padding:0;
}

body {
  overflow: hidden;
  font-size: 12px;
  background: url(../images/bg.png) repeat;
}

/**********************/
/*    Page Layout     */
/**********************/
#wrap {
  margin: auto;
  width: 800px;
}

#header {
  float: left;
  margin: 0 0 10px 0;
  width: 100%;
}

#logo {
  float: left;
}

#sponsor {
  display: inline;
  float: right;
  list-style: none;
  vertical-align: bottom;
}

#sponsor img {
  height: 75px;
  margin: 5px 0 0 7px;
}

#logo {
  width:350px;
  height:87px;
}

/**********************/
/*    User Content    */
/**********************/
#event {
  font-size: 2em;
  margin: 30px 0 20px 0;
}

#user_content {
  float: left;
  margin: 0 0 10px 0;
  width: 100%;
}

#user_content .left {
  float: left;
  width: 50%;
}

#user_content .right {
  float: left;
  width: 50%;
}

#user_content .right .content {
  padding: 0 0 0 4px;
}

#user_content .left .content {
  padding: 0 4px 0 0;
}

.hidden {
  display: none;
}

.visible {
  display: inline;
}

#instagram ul {
  list-style: none;
}

#instagram img {
  width: 350px;
}

#twitter {

}

#twitter #hashtagTweets table td {
  vertical-align: top;
}

#foursquare {
}

#foursquare img{
  width:50px;
}

/**********************/
/*        Misc        */
/**********************/
.clear {
  clear: both;
}
