<div id="sponsor">
  <ul>
    <% @sponsors.each do |sponsor| %>
      <li class="hidden">
      <%= image_tag "#{sponsor['logo']}" %>
      <h2> <%= sponsor['name'] %> </h2>
      </li>
    <% end %>
  </ul>
</div>
