<div id="sponsors" style="float:right; width:auto;"><%= render 'sponsor' %></div>
<div id="nextEvent" style="float:left;width:auto;"></div><br />
<div id="twitter" style="width:300px; float:left;"></div>
<div id="instagram" style="width:442px; float:right;"></div>
