<div id="event"></div>

<div id="user_content">
  <div class="left">
    <div id="instagram" class="content"></div>
  </div>
  <div class="right">
    <div id="twitter" class="content"></div>
  </div>
</div>
<div class="clear"></div>

<div id="foursquare"></div>
