<h1 id="event"></h1>

<div id="user_content">
  <div class="left">
    <div id="instagram" class="content"></div>
  </div>
  <div class="right">
    <div id="twitter" class="content">
      <div id="twitterHandle"></div>
      <div id="twitterHashtag"></div>
    </div>
  </div>
</div>
<div class="clear"></div>

<div id="foursquare"></div>

