<% if @handle_tweets.size > 0 %>
<h4 id="twitterText">
  <%= "@#{@twitter_handle}" %>
</h4>

<table>
  <% @handle_tweets.each do |r| %>
    <tr>
      <td><%= image_tag r['profile_image_url'] %></td>
      <td><h4><%= r['text'] %></h4></td>
    </tr>
  <% end %>
</table>
<% end %>
