<!-- <div id="handleTweets">
  <% @handle_tweets.each do |r| %>
    <%= "#{r.from_user}: #{r.text}" %><br /><br />
  <% end %>
</div> -->
<div id="hashtagTweets">
  <table>
    <% @hashtag_tweets.each do |r| %>
      <tr>
        <td><%= image_tag r.profile_image_url %></td>
        <td><%= "#{r.from_user}: #{r.text}" %></td>
      </tr>
    <% end %>
  </table>
</div>
