<% if @event.blank? %>
  "Ands thats our show folks!"
<% else %>
  <%= @event.name %>
  <% if @event.speaker %>
    <span id="speaker"> by <%= @event.speaker %> </span>
  <%end%>
  starts in 
  <span id="countdown"><%= @event.time - Time.now %></span>
<% end %>

<script type="text/javascript">
  var countdown = $('#countdown').html() - 0;
  $('#countdown').html(prettyTime(countdown));
</script>  
