<% if @event.blank? %>
  Ands thats our show folks!
<% else %>
  <span id="eventTitle"> <%= @event.title %> </span>
  <% if @event.speaker %>
    <span id="speaker"> by <%= @event.speaker %> </span>
  <% end %>
  <span id="startsIn"> starts in </span>
  <span id="countdown"><%= @event.time - Time.now %></span>
<% end %>

<script type="text/javascript">
  var countdown = $('#countdown').html() - 0;
  $('#countdown').html(prettyTime(countdown));
</script>
