<h4>Instagram Tag: <%= APP_CONFIG['instagram_tag'] %></h4>
<ul>
  <% @instagram_images.each do |image| %>
    <li class='hidden'> <%= image_tag image %> </li>
  <% end %>
</ul>

<script type="text/javascript">
  $('#instagram ul li:first').toggleClass('hidden').toggleClass('visible');
</script>
