<h4>Instagram Tag: #<%= @instagram_tag %></h4>
<% if @instagram_images.size > 0 %>
  <ul id="instagram_images">
    <% @instagram_images.first(10).each_with_index do |image, i| %>
      <li class='<%= i == 0 ? "visible" : "hidden" %>'> <%= image_tag image["images"]["standard_resolution"]["url"] %> </li>
    <% end %>
  </ul>
<% else %>
  <span id="no_instagram">Take pictures and tag them "<%= APP_CONFIG['instagram_tag'] %>"</span>
<% end %>
